@import url("./global.css");

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

[id] {
  /* scroll-margin-top: HEADER_HEIGHT */
  scroll-margin-top: 72px;
}

body {
  background-color: hsl(var(--background));
  overflow: hidden;
  position: relative;
}

:root {
  --padding-x: 1.5rem;
  --padding-y: 1.5rem;
}
