@import url("./global.css");

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(var(--background));
  overflow-x: hidden;
}

:root {
  --padding-x: 1.5rem;
  --padding-y: 1.5rem;
}
